<i-disclaimer></i-disclaimer>
<div>
	<div>
		<h1>PC Performance</h1>
		<div class="clr-row" *ngIf="!loading; else loader">
			<div
				style="min-height: 5rem"
				class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12"
				*ngFor="let systemIssue of systemIssues"
			>
				<i-dbwidget
					[widget]="systemIssue"
					[loading]="loading"
					*ngIf="!loading; else loader"
				></i-dbwidget>
			</div>
		</div>
		<ng-template #loader>
			<div class="progress loop">
				<progress></progress>
			</div>
		</ng-template>
	</div>
	<div>
		<h1>PC Parts</h1>
		<div class="clr-row" *ngIf="!loading; else loader">
			<div
				class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12"
				*ngFor="let deviceIssue of deviceIssues"
			>
				<i-dbwidget [widget]="deviceIssue" [loading]="loading"></i-dbwidget>
			</div>
		</div>
	</div>
</div>
