<div class="filters">
	<clr-accordion>
		<clr-accordion-panel [(clrAccordionPanelOpen)]="expanded">
			<clr-accordion-title>Filters</clr-accordion-title>
			<clr-accordion-description
				>will be functional soon</clr-accordion-description
			>
			<clr-accordion-content *clrIfExpanded>
				<div class="clr-row f-content">
					<div class="clr-col-lg-9 clr-col-md-9 clr-col-sm-12 cards">
						<div class="clr-row">
							<div
								class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12"
								*ngFor="let card of filterCards"
								iMatchHeight="fc-description"
							>
								<i-filter-card
									[cardData]="card"
									[hideSliderValue]="card.title === metricNameEnum.CPU_UTIL"
									[hideOperator]="card.title === metricNameEnum.CPU_UTIL"
								>
								</i-filter-card>
							</div>
						</div>
					</div>
					<div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 summary">
						<div class="fs-container">
							<div class="fs-matching">
								<h1>24</h1>
								<h5 class="text">matching PCs</h5>
							</div>
							<div class="fs-actions">
								<div class="fs-apply">
									<button type="button" class="btn btn-primary">Update</button>
								</div>
								<div class="fs-clear">
									<button type="button" class="btn btn-outline">
										Clear Filters
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</clr-accordion-content>
		</clr-accordion-panel>
	</clr-accordion>
</div>
