.filters {
	.f-content {
		padding-top: 1rem;
		padding-bottom: 1rem;
		// opacity: 0.6;
		// pointer-events: none;
	}
	.cards {
	}
	.summary {
		.fs-container {
			background: #324f62;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
			.fs-matching {
				height: 70%;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				h1 {
					font-size: 400%;
					text-align: center;
					color: rgba(97, 183, 21, 1);
				}
				h5 {
					margin: 0.25rem 0 1rem 0;
				}
			}
			.fs-matching-text {
			}
		}
		.fs-actions {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-evenly;
			align-items: center;
			.fs-apply,
			.fs-clear {
				button {
					margin-right: 0;
				}
			}
		}
	}
}
