<i-disclaimer></i-disclaimer>
<i-pcs-filters
	[filters]="filters"
	[total]="total"
	[loading]="loading"
	(onUpdateClick)="handleUpdate()"
></i-pcs-filters>
<div class="heatmap">
	<div>
		<clr-checkbox-wrapper>
			<input
				type="checkbox"
				clrCheckbox
				name="heatmap"
				required
				[(ngModel)]="showHeatMap"
			/>
			<label>Show Heatmap</label>
		</clr-checkbox-wrapper>
	</div>
</div>
<i-pcs-grid
	[showHeatMap]="showHeatMap"
	[filters]="filters"
	(totalUpdated)="handleTotalUpdated($event)"
	(loading)="handleLoading($event)"
></i-pcs-grid>
