.dbw {
	.card {
		cursor: unset;
		&.clickable:hover {
			box-shadow: 0 0.15rem 0 0 #61b715;
			border-width: 0.05rem;
			border-style: solid;
			border-color: #61b715;
		}
		.card-header {
			background-color: #324f62;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: row nowrap;

			.dbw-header {
				font-weight: bolder;
				.icon {
					width: 3rem;
					height: 3rem;
					border: 2px solid rgba(97, 183, 21, 0.333);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 0.5rem;
				}
			}
		}
		.card-block {
			.card-text {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;
				.dbw-setting {
					// transition: 0.7s;
					// -webkit-transition: 0.7s;
					// -moz-transition: 0.7s;
					// -ms-transition: 0.7s;
					// -o-transition: 0.7s;
					// &:hover {
					// 	cursor: pointer;
					// 	transition: 0.7s;
					// 	-webkit-transition: 0.7s;
					// 	-moz-transition: 0.7s;
					// 	-ms-transition: 0.7s;
					// 	-o-transition: 0.7s;
					// 	-webkit-transform: rotate(180deg);
					// 	-moz-transform: rotate(180deg);
					// 	-o-transform: rotate(180deg);
					// 	-ms-transform: rotate(180deg);
					// 	transform: rotate(180deg);
					// }
					padding-left: 0.5rem;
					cursor: pointer;
				}
			}
			.card-title {
				.metric {
					font-size: 400%;
					font-stretch: ultra-condensed;
					font-weight: lighter;
					color: rgba(97, 183, 21, 0.333);
				}
				.csat {
					margin-top: -2rem;
				}
				.matching {
					margin-top: -0.4rem;
				}
				p span {
					font-size: 0.7rem;
					height: 1rem;
				}
			}
		}
		.dbw-footer {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
		}
	}
}
