.dbw {
  .card {
    cursor: unset;
    .card-header {
      background-color: #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      .dbw-header {
        font-weight: bold;
      }
      .dbw-setting {
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
        &:hover {
          cursor: pointer;
          transition: 0.7s;
          -webkit-transition: 0.7s;
          -moz-transition: 0.7s;
          -ms-transition: 0.7s;
          -o-transition: 0.7s;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .card-block {
      .card-text {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .icon {
          width: 3rem;
          height: 3rem;
          border: 2px solid #0072a3;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem;
        }
      }
      .card-title {
        .metric {
          font-size: 400%;
          font-stretch: ultra-condensed;
          font-weight: lighter;
        }
        h4 {
          margin-top: -0.4rem;
        }
        h6 {
          margin-top: -2rem;
        }
        p {
          font-size: 1rem;
          color: #0072a3;
          font-weight: bolder;
        }
      }
    }
  }
}
