<div class="main-container doc-demo-main-container">
	<header class="header-6">
		<div class="branding">
			<a [routerLink]="['/']">
				<cds-icon shape="layers"></cds-icon>
				<span class="title">PC Insights</span>
				<span class="p8 mt-0">&nbsp;| concept</span>
			</a>
		</div>
		<div class="header-actions">
			<a class="nav-link nav-icon-text">
				<cds-icon shape="user"></cds-icon>
				<span class="nav-text">nikhilrstg18@gmail.com</span>
			</a>
		</div>
	</header>
	<nav class="subnav">
		<ul class="nav">
			<li class="nav-item">
				<a
					class="nav-link"
					[routerLink]="['/']"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					>Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					[routerLink]="['pcs']"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					>PCs
				</a>
			</li>
		</ul>
	</nav>
	<div class="content-container">
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
