<div class="fc">
	<div class="fc-switch">
		<clr-toggle-container>
			<clr-toggle-wrapper>
				<input
					type="checkbox"
					clrToggle
					id="toggle-{{ cardData?.id }}"
					name="options"
					value="option1"
					[(ngModel)]="cardData && cardData.enabled"
				/>
				<label class="title p1">{{ cardData?.title }}</label>
				<clr-control-helper></clr-control-helper>
			</clr-toggle-wrapper>
		</clr-toggle-container>
	</div>
	<div
		class="fc-description"
		[ngStyle]="
			!cardData?.enabled ? { opacity: '0.4', 'pointer-events': 'none' } : {}
		"
	>
		<h6 class="p2">
			{{ cardData?.desc1 }}
			<span *ngIf="!hideOperator && cardData?.operator == '<='"> &#8804; </span>
			<span *ngIf="!hideOperator && cardData?.operator == '>='"> &#8805; </span>
			<span
				*ngIf="
					!hideOperator &&
					cardData?.operator !== '>=' &&
					cardData?.operator !== '<='
				"
			>
				{{ cardData?.operator }}
			</span>
			<span *ngIf="!hideSliderValue">
				{{ cardData?.sliderValue }}
			</span>
			{{
				cardData?.unit ||
					(cardData?.deepLabels &&
						cardData?.deepLabels[cardData && cardData.sliderValue])
			}}
			{{ cardData?.desc2 }}
		</h6>
	</div>
	<div
		class="fc-slider"
		[ngStyle]="
			!cardData?.enabled ? { opacity: '0.4', 'pointer-events': 'none' } : {}
		"
	>
		<form>
			<clr-range-container>
				<input
					type="range"
					clrRange
					[(ngModel)]="cardData && cardData.sliderValue"
					[min]="cardData?.minSliderValue"
					[max]="cardData?.maxSliderValue"
					[step]="cardData?.stepSliderValue"
					name="three"
					(change)="handleSliderChange($event)"
				/>
				<clr-control-helper>
					<div class="fcs-labels">
						<div
							class="slider-text"
							*ngFor="let label of cardData && cardData.labels"
							[title]="label"
						>
							{{ label }}
						</div>
					</div>
				</clr-control-helper>
			</clr-range-container>
		</form>
	</div>
</div>
