<clr-datagrid
	(clrDgRefresh)="refresh($event)"
	[clrDgLoading]="loading"
	[(clrDgSelected)]="selected"
>
	<clr-dg-column [clrDgField]="'assetTag'">
		{{ metricNameEnum.ASSET_TAG }}
	</clr-dg-column>
	<clr-dg-column [clrDgField]="'hostName'">
		{{ metricNameEnum.HOST_NAME }}
	</clr-dg-column>
	<clr-dg-column [clrDgField]="'model'">
		{{ metricNameEnum.MODEL }}
	</clr-dg-column>
	<clr-dg-column [clrDgField]="'cpuUtil'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">
			{{ metricNameEnum.CPU_UTIL }}
		</ng-container>
	</clr-dg-column>
	<clr-dg-column [clrDgField]="'ramUtil'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.RAM_UTIL
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'ram'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.RAM
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'batteryHealth'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.BATTERY_HEALTH
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'batteryRuntime'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.BATTERY_RUNTIME
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'storageRemaining'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.STORAGE_REMAINING
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'age'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.AGE
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'csat'">
		<ng-container *clrDgHideableColumn="{ hidden: true }">{{
			metricNameEnum.CSAT
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'appFailures'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.APP_FAILURES
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'osFailures'">
		<ng-container *clrDgHideableColumn="{ hidden: false }">{{
			metricNameEnum.OS_FAILURES
		}}</ng-container></clr-dg-column
	>

	<clr-dg-column [clrDgField]="'summaryStart'">
		<ng-container *clrDgHideableColumn="{ hidden: true }">{{
			metricNameEnum.SUMMARY_START
		}}</ng-container></clr-dg-column
	>
	<clr-dg-column [clrDgField]="'summaryEnd'">
		<ng-container *clrDgHideableColumn="{ hidden: true }">{{
			metricNameEnum.SUMMARY_END
		}}</ng-container></clr-dg-column
	>

	<clr-dg-row *ngFor="let endpoint of endpoints" [clrDgItem]="endpoint">
		<clr-dg-cell>
			<a routerLink="{{ endpoint.serviceTag }}"
				>{{ endpoint.assetTag }}
			</a></clr-dg-cell
		>
		<clr-dg-cell
			><a routerLink="{{ endpoint.serviceTag }}">
				{{ endpoint.hostName }}</a
			></clr-dg-cell
		>
		<clr-dg-cell>{{ endpoint.model }}</clr-dg-cell>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(metricNameEnum.CPU_UTIL, endpoint.cpuUtil)
					: {}
			"
			>{{ getCPUText(endpoint.cpuUtil) }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(metricNameEnum.RAM_UTIL, endpoint.ramUtil)
					: {}
			"
			>{{ endpoint.ramUtil | percent: '1.2-2' }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap ? getHeatMapColor(metricNameEnum.RAM, endpoint.ram) : {}
			"
			>{{ endpoint.ram | number | unit: ' GB' }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(
							metricNameEnum.BATTERY_HEALTH,
							endpoint.batteryHealth
					  )
					: {}
			"
			>{{ endpoint.batteryHealth | percent: '1.2-2' }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(
							metricNameEnum.BATTERY_RUNTIME,
							endpoint.batteryRuntime
					  )
					: {}
			"
			>{{
				endpoint.batteryRuntime | number: '1.2-2' | unit: ' hrs'
			}}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(
							metricNameEnum.STORAGE_REMAINING,
							endpoint.storageRemaining
					  )
					: {}
			"
			>{{ endpoint.storageRemaining | percent: '1.2-2' }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap ? getHeatMapColor(metricNameEnum.AGE, endpoint.age) : {}
			"
			>{{ endpoint.age | unit: ' months' }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap ? getHeatMapColor(metricNameEnum.CSAT, endpoint.csat) : {}
			"
			>{{ endpoint.csat | percent: '1.2-2' }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(metricNameEnum.APP_FAILURES, endpoint.appFailures)
					: {}
			"
			>{{ endpoint.appFailures | number }}</clr-dg-cell
		>
		<clr-dg-cell
			[ngStyle]="
				showHeatMap
					? getHeatMapColor(metricNameEnum.OS_FAILURES, endpoint.osFailures)
					: {}
			"
			>{{ endpoint.osFailures | number }}</clr-dg-cell
		>
		<clr-dg-cell>{{ endpoint.summaryStart | date: 'short' }}</clr-dg-cell>
		<clr-dg-cell>{{ endpoint.summaryStart | date: 'short' }}</clr-dg-cell>
	</clr-dg-row>

	<clr-dg-footer>
		<clr-dg-pagination
			#pagination
			[clrDgPageSize]="10"
			[clrDgTotalItems]="total"
		>
			{{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
			{{ pagination.totalItems }} PCs
			<clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
				>PCs per page</clr-dg-page-size
			>
		</clr-dg-pagination>
	</clr-dg-footer>
</clr-datagrid>
